.joke-form-wrapper {
  margin-bottom: 36px;
}

.jokes-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.joke {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 8px;

  &__question {
    text-transform: capitalize;
  }

  &__answer {
    text-transform: capitalize;
  }

  &__button-wrapper {
    display: flex;
    gap: 8px;
  }
}
