.joke-form-wrapper {
  margin-bottom: 36px;
}

.jokes-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.joke {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;

  &__question {

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__answer {
    font-size: 14px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 8px;
  }
}

.hr {
  border: 0;
  height: 1px;
  width: 50%;
  position: relative;
  margin: 30px auto;
  background: #42b983;
}
