.random-jokes-list {

  & li {
    list-style: decimal;
    margin-bottom: 8px;
    padding-left: 8px;
    margin-left: 18px;
  }

  & li a {
    text-decoration: none;
    color: #444;

    &:hover {
      color: #42b983;
    }
  }
}
